{{> head}}
{{> navbar}}

<div class="row">
    <div class="col-8">
        <h1>SAO</h1>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit delectus numquam iste saepe alias quis sit officiis optio? Veniam, accusantium maxime? Tempore ab quis dignissimos, aperiam ipsum temporibus error nobis!
        </p>
    </div>
    <div class="col-4">
        <img src="assets/img/SAO.jpg" class="img-thumbnail">
    </div>
</div>

{{> footer}}